*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: plum;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
h1{
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
}
/* Main */
main{
    max-width: 80%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
    padding: 2em 4em;
}
/* library */
.library {
    display: flex;
    flex-wrap: wrap;
}
.card {
    width: 350px;
    margin-bottom: 2em;
    margin-right: 2em;
    border: 1px solid plum;
    box-shadow: 2px 2px plum;
    padding: 1em;
    position: relative; /* for positioning close button */
}
.card h3{
    font-size: 150%;
    margin-bottom: 0.5em;
}
.card p:first-of-type{
    font-style: italic;
}
.closeBtn{
    padding: 2px 5px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
.closeBtn:hover{
    background-color: plum;
}
/* Form */
form {
    width: 646px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid plum;
    padding: 20px;
}
form h3{
    color: plum;
    text-align: center;
    margin-bottom: 1em;
}
form label,
form input {
    display: block;
    float: left;
    font-size: 16px;
}
form label{
    clear: left;
    width: 200px;
    margin-bottom: 1.5em;
}
form input{
    width: 400px;
    padding: 0.3em;
}
.right label,
.right input{
    display: inline;
    float: none;
    width: auto;
}
.right{
    float: left;
}
form button{
    display: block;
    clear: both;
    background-color: #ddd;
    padding: 0.5em;
    font-size: 16px;
    margin: auto;
    width: 120px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}